// *,
// *::after,
// *::before {
//   padding: 0;
//   margin: 0;

//   box-sizing: inherit;
//   direction: rtl;
// }

// html {
//   font-size: 62.5%;
// }

// body {
//   box-sizing: border-box;
//   font-size: 1.6rem;
//   font-family: iransansweb, sans-serif;
// }

.ho-main-container {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  direction: rtl;

  font-family: iransansweb, sans-serif;
  max-width: 1170px;
  margin: 1rem auto;
}

.ho-service-container {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  direction: rtl;

  margin-bottom: 5px;

  padding: 5px;
  border-radius: 5px;

  margin-top: -80px;
}

.ho-service__name--main {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  direction: rtl;

  // background-image: linear-gradient(to right, #28b485, #7ed56f);
  // background-image: linear-gradient(to right, #ffb900, #ff7730);
  background-image: linear-gradient(to right, #5543fae1, #2998ff);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
  max-height: fit-content;
  // border-top-left-radius: 5px;
  // border-top-right-radius: 5px;

  z-index: 1;

  display: flex;
  justify-content: space-between;
}

.chevron-down {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  direction: rtl;

  stroke: #fff;
  z-index: 1;

  transition: all 0.5s;
}

.ho-service--detailes {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  direction: rtl;

  font-size: 10px;
  // font-weight: bold;
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  justify-content: space-around;
  align-items: center;

  padding: 15px;
  display: none;

  // border-bottom: 1px solid #999;
  // background-color: #ffb900;
  color: #fff;

  transition: all 0.5s;

  &:nth-child(odd) {
    background-color: #fff;
  }
}

.ho-service--detailes > * {
  // background-color: #7ed56f;
  padding: 3px;
  border-radius: 3px;
  color: #444;
  text-align: center;
  flex: 1;
}

.ho-service__name--sub {
  flex: 3;
}
.ho-service__contactInfo {
  flex: 2;
}

.ho-service__isElectronic {
  flex: 2;
}

#serviceShow {
  opacity: 0;
  transform: translateY(63px);
  width: 100%;
  height: 63px;
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

#serviceShow:checked ~ .ho-service--detailes {
  display: flex;
}

#serviceShow:checked ~ .ho-service__name--main .chevron-down {
  transform: rotateX(180deg);
}
.ho-service--sub-all {
  display: none;
}

a {
  &:link,
  &:visited {
    text-decoration: none;
    color: #444;
  }
}

.ho-service--detailes--head {
  // background-color: #7ed56f8e !important;
  font-size: 16px;
  font-weight: bold !important;

  & > * {
    // color: #fff !important;
  }
}
